


{% trans_default_domain 'FOSUserBundle' %}


<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>


        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="jumbotron text-center">

            {{ form_widget(form) }}


            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-block"/>


        </div>
        {{ form_end(form) }}
    </div>
</div>
