
{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">


    </div>
    <div class="jumbotron text-center">
        <div class="container">


            <center>
                <h2>Ajouter une inscription</h2>
<form method="post">
                <fieldset style="width: 30%;margin: auto;">
                    <TABLE class="table table-striped">
                        <tr><td>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                                    <label  for="topicOptions" style="font-size: 18px; color: #5bc0de;" class="ng-binding" >Nom</label>

                                    {{ evenement.nom}}<br><br>
                                </div>
                            </td></tr>




                        <tr><td>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                                    <label  for="topicOptions" style="font-size: 18px; color: #5bc0de;" class="ng-binding" >Enfant</label>

                                    <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched" style="font-size: 12px;" id="topicOptions" data-ng-change="changeExecutor()" data-ng-options="item as item.title for item in topicList.slice(1)" data-ng-model="selectedTopic"><option label="All" value="object:4" selected="selected">All</option>



                                        <option label="" value="object:1">Mohammed</option>

                                    </select><br><br>
                                </div>
                            </td></tr>
                        <tr><td colspan="2" align="center">
                                <input type="submit" value="valider" class="btn btn-primary">
                            </td></tr>


                    </TABLE>
                </fieldset>
</form>
            </center>


        </div>
        <div class="text-right">

            <a href="{{ path('evenement_readFront') }}" class="btn btn-primary"> Retour </a>
        </div>


    </div>




{% endblock %}

